.Header
  .TitleBox
    %p.TitleBox__maintext StudyShare
    %p.TitleBox__subtext すぐ答えてに応える
  .AccountButton
    = link_to "新規登録", new_user_registration_path, { class: "btn btn-info Button__signin"}
      
    
    = link_to "ログイン", new_user_session_path, { class: "btn btn-info AccountButton__login"}

    
    