.Content
  .Content__wrapper
    .Title
      %h2 Account Information
    .ShowAccount
      = render partial: 'user_info', locals: { user: @user }
  .Content__bottom.QandALists
    = render partial: 'user_qanda', locals: { user_questions: @user_questions, user_answers: @user_answers }