$basecolor: #87dfd6;
$maincolor: #eee;

nav{
  width: 100%;
  display: flex !important;
  justify-content: space-between !important;
}

#Menu_bar{
  display: none;
}
nav li{
  display: block;
}

.hidden{
  display: block;
}

.navcolor{
  background-color: $basecolor;
  border-bottom: 1px solid $maincolor;
}

.deg-action{
  &:hover{
    animation: shake 1s normal forwards;

    @keyframes shake{
      10%{transform: rotate(-20deg);}
      20%{transform: rotate(20deg);}
      30%{transform: rotate(-15deg);}
      40%{transform: rotate(15deg);}
      50%{transform: rotate(-10deg);}
      60%{transform: rotate(10deg);}
      70%{transform: rotate(-5deg);}
      100%{transform: rotate(0deg);}
    }
  }
}

.Menu{
  display: flex;
  width: 100%;
}

.EditIcon{
  border-radius: 50%;
  width: 25px;
  height: 25px;
}

@media screen and (max-width:500px){
  .show{
      
  }
  .hidden{
    display: none;
  }
  #Menu_bar{
    display: block;
    width: 50px;
    height: 30px;
  }
  .Menu_bar{
    &__item{
      display: block;
      width: 40px;
      height: 3px;
      border-radius: 5px;
      margin: 0 auto;
      margin-bottom: 10px;
      background-color: $maincolor;
      transition: transform 0.7s;
    }
    &:last-child{
      margin-bottom: 0;
    }
  }
  .menu_open{
    & .Menu_bar{
      &__item{
        &:nth-child(1){
          transform: translateY(13px) rotate(135deg);
        }
        &:nth-child(2){
          transform: translateX(-30px) scaleX(0);
        }
        &:nth-child(3){
          transform: translateY(-13px) rotate(-135deg);
        }
      }
    }
  }
  .Menu{
    font-size: 10px;
    & ul, & ul > li{
      display: inline-block;
    }
    & ul > li{
      margin-left: 10px !important;
    }
  }
}