$basecolor: #87dfd6;
$maincolor: #eee;
$textcolor: #333;
$inputcolor: #c8d9eb;

// ユーザー情報と編集
.Content{
  width: 100%;
  height: 100vh;
  padding: 70px 30px;
  background-color: $maincolor;
  overflow: scroll;
  
  &__wrapper{
  width: 1000px;
  height: 600px;
  background-color: #fff;
  border: 3px solid $basecolor;
  margin: 0 auto;
  transform: translateY(10%);
  border-radius: 4px;
  box-shadow: 0 2px 10px 2px rgba(0,0,0,0.6);
  }
  
  &__bottom{
    max-width: 1000px;
    margin: 100px auto;
    margin-bottom: 0;
    border-bottom: 3px solid $basecolor;
  }
}

.Title{
  width: 500px;
  font-size: 120px;
  font-weight: bold;
  padding: 0 35px;
  padding-top: 20px;
  margin: 0 auto;
  margin-bottom: 40px;
  border-bottom: 1px solid rgba(0,0,0,0.4);
  text-align: center;
  color: $textcolor;

}

.ShowAccount{
  display: flex;
  justify-content: space-around;

  &__rightfield{
    text-align: center;

    & label{
      display: block;
    }

    &_hidden{
     display: none;
    }
  }
}

.InfoField{
  display: flex;

  & .fas{
    height: 48px;
    width: 48px;
    font-size: 25px;
    text-align: center;
    line-height: 48px;
    background-color: #f7be16;
  }

  &__list{
    width: 300px;
    padding: 16px 10px;
    font-size: 0.6em;
    opacity: 0.6;
    border: none;
    background-color: $inputcolor;
    border-bottom: 1px solid rgba(71, 69, 69, 0.411);
    margin-bottom: 50px;
  }

  & input{
    outline: none;
  }

  & select{
    outline: none;
  }
}

.CheckBox{
  position: relative;
  & label{
    background-color: $inputcolor;
    margin-bottom: 0;
  }

  & input[type="checkbox"]{
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    display: inline-block;
    width: 47px;
    height: 47px;
    cursor: pointer;
    border-radius: 4px;
  }
}

.ImageInfo{
  margin-bottom: 40px;

  &__image{
    width: 260px;
    height: 260px;
    border-radius: 50%;
    border: 5px dashed #f7be16;
  }

  &__upload{
    display: none;
  }
}

.Button.block{
  display: inline-block;
  outline: none;
}

.User-Questions, .User-Answers{
  max-width: 1000px;
  border: 1px solid black;
}

//ユーザー情報、質問、解答一覧

.QandALists{
  position: relative;
  &__tab{
    display: inline-block;
    text-align: center;
    background-color: #fff;
    border-radius: 0.75em 0.75em 0 0;
    padding: 15px;
    margin-bottom: 0;

    &:hover{
      background-color: #bbb;
      cursor: pointer;
      color: #fff;
    }
  }
  &__input{
    display: none;
  }
  &__input:checked + &__tab{
    background-color: $basecolor;
  }

  &__content{
    display: none;
    width: 100%;
    padding: 1.2em;
    background-color: #fff;
    position: absolute;
    margin-bottom: 100px;
    border: 3px solid $basecolor;
  }

  &__item{
    padding-bottom: 10px;
    border-bottom: 1px solid black;
  }
}

#question-tab:checked ~ #question-content-tab{
  display: block;
}

#answer-tab:checked ~ #answer-content-tab{
  display: block;
}

@media screen and (max-width: 500px){
  .Content{
    width: 100%;
    &__wrapper{
      width: 100%;
      padding: 15px;
      height: auto;
    }
  }
  .Title{
    width: 300px;
    text-align: center;
    & h2{
    font-size: 20px;
    }
  }
  .ShowAccount{
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;

    &__submit{
      width: 200px;
    }
  }

  .InfoField{
    margin: 0 auto;
    &__list{
      width: 200px;
    }
  }
  .ImageInfo{
    &__image{
      width: 200px;
      height: 200px;
    }
  }
  .mg-t{
    margin-top: 50px;
  }
  .ShowAccount{
    &__submit{
    width: 248px;
    }
  }
  .block{
    width: 248px;
  }
}